@import '../../style/var.less';

.price {
  display: inline-block;
  color: @gray8;
  line-height: 30px;
  vertical-align: baseline;
  &__primary {
    color: @primary;
  }
  &__secondary {
    color: @gray5;
  }
  &__delete {
    position: relative;
    &::after {
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      height: 2px;
      background-color: @gray5;
      transform: translateY(-50%);
      content: '';
    }
  }

  &__sm {
    font-size: @font-size-sm;
  }

  &__md {
    font-size: @font-size-md;
  }
  &__lg {
    font-size: 48px;
  }

  &__symbol,
  &__float {
    font-weight: 500;
    font-size: 0.6em;
  }
  &__int {
    font-weight: 500;
    font-size: 1em;
    vertical-align: baseline;
  }
}
