.local-toast {
  @apply flex flex-col align-middle justify-center;

  width: fit-content;
  min-width: 96px;
  max-width: 80%;
}

.local-toast-item {
  @apply bg-black bg-opacity-70 rounded-md text-white break-all text-center;
}