.local-swiper {
  @apply overflow-hidden;

  .swiper-slide {
    @apply flex justify-center items-center text-2xl bg-gray-300;

    height: 380px;
  }

  .swiper-pagination {
    &-bullet {
      width: 14px; /* px-to-viewport-ignore */
      height: 14px; /* px-to-viewport-ignore */
      background: none;
      border: 2px solid #fff;
      opacity: 1;
    }
    &-bullet-active {
      background: #fff;
    }
  }
}
