@import '../../style/var.less';
.buy-search {
  .search-area {
    background-color: #fff;
    .search-area__body {
      background-color: @gray2;
    }
    input {
      background-color: @gray2;
    }
  }
  &__header {
    height: 92px;
  }
  &__body {
    padding-bottom: 20px;
    background-color: @gray3;
    border-top: 1px solid @gray2;
    .menu {
      margin-bottom: 20px;
    }
    .product {
      margin-bottom: 20px;
    }
    &--list {
      padding: 0 24px;
    }
  }
}
