.share {
  width: 100%;
  background: #ed513b;
  font-size: 34px;
  color: #fff;
  padding: 40px 0 40px 160px;
  position: relative;

  &__item {
    margin-bottom: 26px;
    img {
      width: 58px;
      height: 58px;
      margin: 0 14px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__arrow {
    position: absolute;
    top: 10px;
    right: 60px;
    width: 228px;
    height: 80px;
    background: url('./static/share_arrow.png') no-repeat;
    background-size: contain;
  }
}
.swipe {
  width: 750px;
  height: 750px;

  &__img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.body {
  padding: 30px 24px;
}

.title {
  margin: 30px 0;
}

.coupon {
  height: 174px;
  position: relative;
  width: 100%;
  background: url('./static/coupon.png') center no-repeat;
  background-size: contain;
  padding: 40px 0 24px 54px;

  &__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    width: 192px;
    height: 70px;
    background: linear-gradient(0deg, #fdb649, #fff6d8);
    border-radius: 35px;
    color: #ed513b;
  }
}
