@import '../../../../style/var.less';
.menu {
  background-color: #fff;
  height: 80px;
  padding: 0 24px;
  &__span {
    position: relative;
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid @gray7;
      position: relative;
      top: 24px;
      left: 4px;
    }
    &--active {
      color: #ed513b;
      &::after {
        border-top-color: #ed513b;
      }
    }
  }
}
